.component_tags
	.at-tag
		font-size 24px
		background-color #fff
		height 48px
		line-height 48px
		box-sizing border-box
		min-width 120px
		text-align center
		padding 0 10px
		display inline-block
		border 1px solid #ECECEC
		&:not(:last-child)
			margin-right 14px
	.at-tag--active.at-tag--primary
		border-color #4f5af7
		background-color #4f5af7