.repay_page_box
  width 100%
  height 100%
  background-color #F8F8F8
  .topbox
    width 100%
    height 134px
    background #FFFFFF
    padding 0 30px
    box-sizing border-box
    .logo
      width 78px
      height 80px
      display block
      margin-right 20px
    .platform_txt
      height 42px
      font-size 30px
      color #333333
      line-height 42px
    .small_txt
      height 34px
      font-size 28px
      color #969696
      line-height 34px
      margin-top 8px
  .repay_box
    width 100%
    height 308px
    background #FFFFFF
    margin-top 20px
    box-sizing border-box
    padding 30px 40px
    .amount_label
      font-size 28px
      line-height 40px
      margin-top 4px
    .amount
      font-size 48px
      height 67px
      margin 25px 0
      padding 25px 0
      border-bottom 1px solid #E8E8E8
    .amountInput
      font-size 48px
      height 50px
      line-height 50px
      margin-left 12px
    .amount_limit
      font-size 22px
      color rgba(0, 0, 0, 0.45)
      line-height 30px
      margin-top 4px
      .all_withdraw
        color #4F5AF7
        margin-left 10px

  .repay_button
    margin 40px 30px 30px 30px
    height 84px
    line-height 84px
    background #4F5AF7
    border-radius 10px
    color #FFFFFF
    font-size 30px
    text-align center
  .remind_box
    width 100%
    font-size 22px
    color rgba(0, 0, 0, 0.45)
    line-height 30px
    padding 10px 30px
    box-sizing border-box
    .title
      color rgba(208, 51, 51, 0.85)
      margin-bottom 10px
