.afterSaleDetail 
	font-size 30px
	.bgcStyle
		background-color #fff
		padding 0 20px
		margin-bottom 20px
	.title
		font-weight 500
		color #474245
		padding 20px 0
	.orderInfo
		height 88px
		line-height 88px
		border 1px solid #F1F1F1
	 	.orderInfoId
			color rgba(0, 0, 0, 0.65)
			font-size 28px
		.orderInfoStatus
			color #4F5AF7
			font-weight 500
		.goodInfoDes
			height 120px
			flex-grow 1
			margin-left 20px
			font-size 24px
			> View:nth-child(2)
				font-size 26px
				color #969696
				margin-top 15px
		.goodName
			font-weight 400
			font-size 28px
			color #474245
		.oval
			border-radius 22px
			background-color #f8f8f8
			padding 0 30px
	.goodInfoFooter
		height 73px
		line-height 73px
		color rgba(0, 0, 0, 0.45)
		font-size 24px
	
	.basicInfo 
		padding-bottom 20px
		:not(:first-child)
			font-size 26px
			font-weight 400
			color #969696
			line-height 50px
	.copyStyle
		color #4f5af7
		line-height 33px
		height 33px
		border-radius 35px
		// background-color white
		margin-left 15px
		border 1px solid #4f5af7
		padding 5px 15px
	#input 
		position absolute
		top 0
		left 0
		opacity 0
		z-index -10
				