.login_page_box
  width 100%
  overflow hidden
  .top_box
    height 327px
    width 120%
    margin-left -10%
    overflow hidden
    background-color #4D66FF
    border-bottom-left-radius 50%
    border-bottom-right-radius 50%
    background linear-gradient(90deg, #4B64FD 0%, #533FE5 100%)
