.list_item_box
  width 100%
  border-bottom 2px solid #E8E8E8
  padding 30px
  box-sizing border-box
  background-color #FFFFFF
  &:last-child
    border-bottom none
  // .item_up

  .item_up_left
    height 51px
    font-size 30px
    font-weight 400
    line-height 51px
  .item_up_right
    height 32px
    font-size 36px
    font-family DINAlternate-Bold, DINAlternate
    font-weight bold
    color #FEB90E
    line-height 32px
  .item_down
    margin-top 10px
    height 28px
    font-size 24px
    font-weight 400
    color #B1B1B1
    line-height 28px
  // .item_down_left
  // .item_down_right