.content
  width 100%
  height 100%
  box-sizing border-box
  background: #fbfbfb
  .mes
    background: #FFF9E7
    padding: 12px 0
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    font-size: 24px
    color: #474245
    line-height: 33px
    .vol
      color: #FEB90E
      font-size: 34px
      margin-right: 5px
  .top_time
    font-size: 26px
    line-height: 37px
    color: rgba(0, 0, 0, 0.45)
    display: flex
    align-items: center
    justify-content: space-between
    padding: 20px
  .list_item
    background: #FFFFFF;
    border-radius: 10px;
    padding: 22px 20px
    display: flex
    align-items: flex-start
    justify-content: space-between
    margin: 0 20px 20px 20px
    .img
      width: 140px
      height: 140px
      background: #000000
      flex-shrink: 0
    .right
      margin-left: 20px
      display: flex
      flex-direction: column
      justify-content: space-between
      .head
        font-size: 30px
        line-height: 42px
      .bottom
        display: flex
        align-items: center
        justify-content: flex-end
        font-size: 24px    
        color: rgba(0, 0, 0, 0.45)
        line-height: 33px
        margin-top: 30px
        .strong
          font-weight: 500
          color: #333333
        .blue_font
          color: #4F5AF7;
    
    