.toast_component_bg
  width 100%
  height 100%
  position absolute 
  top 0
  left 0
  z-index 9999
.toast_component_box
  width 70%
  min-width 300px
  max-width 600px
  text-align center
  display inline-block
  background-color rgba(0,0,0,0.7)
  position absolute
  left 50%
  transform translate(-50%,200px)
  box-sizing border-box
  padding 24px
  font-size 28px
  line-height 40px
  color #ffffff
  border-radius 8px

  