.bird_loading_box
  width 200px
  height 200px
  margin 0 auto
  background-image url('../../assets/images/tuoniao.png')
  background-position-x 50%
  background-position-y 0 
  background-size auto 500%
  background-repeat no-repeat
  animation bird_run 0.2s steps(1) infinite


  
@keyframes bird_run 
  0% 
    background-position-y 0
  25% 
    background-position-y 25%
  50% 
    background-position-y 50%
  75% 
    background-position-y 75%
  100% 
    background-position-y 100% 
