.account_detail_page_box
  background-color #F8F8F8
  width 100%
  height 100%
  .at-list__item 
    background-color #FFFFFF
    font-size 30px
    .item-extra__info
      font-size 30px
  .at-list__item-extra
    max-width 70%
