.indexPage_box 
  width 100%
  // height 300px
  height 100%
  overflow hidden
  position absolute
  top 0
  left 0
  .mainpagecontainer
    background-color #FFFFFF
    width 100%
    min-height 100%
    overflow-x hidden
    overflow-y auto
    -webkit-overflow-scrolling touch
    position absolute
    top -400px
    left 0
    bottom 0
    box-sizing border-box
  .scrollblank
    width 100%
    height 400px
    background #4D66FF

// .indexPage_box 
//   width 100%
//   // height 100%
//   height 300px
//   // overflow-y auto
//   overflow-x hidden
//   background-color #FFFFFF
  .topBox
    width 150%
    margin-left -25%
    height 464px 
    background linear-gradient(#4D66FF 0%, #553BE2 100%)
    border-bottom-left-radius 50%
    border-bottom-right-radius 50%
    margin-bottom 40px
    color #FFFFFF
    text-align center
    box-sizing border-box
    font-family PingFangSC-Regular, PingFang SC
    padding 47px 0 114px 0
  .at-grid__flex 
    .content-inner__text
      font-size 26px
      color rgba(0, 0, 0, 0.65)
  .withdraw_text
    font-size 30px
    line-height 42px
    margin-bottom 26px
  .withdraw_amount
    font-family DINAlternate-Bold, DINAlternate
    font-size 60px
    line-height 66px
    font-weight bold
  .detail_button
    margin 16px 0 20px 0
    width 154px
    height 38px
    line-height 38px
    background linear-gradient(90deg, #FFC712 0%, #FDB40C 100%)
    border-radius 19px
    font-size 20px
    color #595959
  .amountbox
    padding-top 3px
    display flex
    width 62%
    box-sizing border-box
    padding 0 1%
    margin-top 10px
    .sum_box
      width 50%
      position relative
      &:first-child
        &:after
          position absolute
          content ''
          display inline-block
          width 1px
          height 76px
          background-color rgba(5, 21, 87, 0.2)
          right 0
    .sum_money
      font-size 40px
      font-weight bold
      font-family DINAlternate-Bold, DINAlternate
      line-height 50px
    .sum_text
      font-size 26px
      line-height 38px
      margin-top 5px



