
.indexPage_box 
  width 100%
  height 100%
  overflow-y auto
  overflow-x hidden
  .topBox
    width 150%
    margin-left -25%
    height 548px 
    background linear-gradient(#4D66FF 0%, #553BE2 100%)
    border-bottom-left-radius 50%
    border-bottom-right-radius 50%
    margin-bottom 40px
  .at-grid__flex 
    .content-inner__text
      font-size 26px
      color rgba(0, 0, 0, 0.65)

