.pop_bottom_box
  box-sizing border-box
  .at-float-layout__container 
    min-height 100px
    border-top-left-radius 10px
    border-top-right-radius 10px
    padding 0 !important
    min-height 100px !important
    .at-float-layout 
      padding 0 !important
      min-height 100px !important
      .layout-page
        padding 0 !important
        min-height 100px !important

.pop_bottom_button_box
  width 100%
  box-sizing border-box 
  color #4F5AF7
  height 72px
  border-bottom 1px solid #efefef
  .pop_bottom_button
    padding 6px 24px

