.listItemWrapper
  // padding 0 20px
  font-size 30px  

.listItemCard
  border-radius 12px
  background-color #fff
  padding 0 30px

.list_item_box 
	margin-bottom 20px
	&:last-child
    margin-bottom 0 !important

.summarybox
    padding 5px 30px 15px 30px
    font-size 30px

.listItemTite
	height 70px
	line-height 70px
	font-size 26px
	font-weight 400
	color rgba(0, 0, 0, 0.85)

.itemUp
	height 80px
	border-bottom 1px solid #F1F1F1
	.itemUpLeft
		font-weight 400
	.itemUpRight
		font-weight 500
		color #4F5AF7

.itemMiddle
	padding 36px 0
	line-height 48px
	border-bottom 1px solid #F1F1F1
	.rightMargin
		margin-right 30px
	.greyColor
		color #969696
	.price
		color #FA6400
		font-weight bold
		font-size 34px

.itemDown
	height 60px


