.content
  width 100%
  height 100%
  box-sizing border-box
  .top
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 26px
    font-weight: 400
    color: rgba(0, 0, 0, 0.45);
    padding 21px 20px 0 20px
    box-sizing border-box
    .left
      color: rgba(0, 0, 0, 0.45);
    .right
      display: flex
      align-items: center
      justify-content: flex-end
    .icon_reload
      margin-left: 5px

.cardbox
  display: flex
  align-items: center
  justify-content: space-between
  font-weight: 400
  padding 0 20px 0 20px
  box-sizing border-box
  width 100%
  .item 
    background: linear-gradient(90deg, #8CBFFF 0%, #907DFA 100%);
    box-shadow: 0px 2px 14px 0px rgba(188,192,243,1);
    border-radius: 12px
    font-size: 26px
    color: #ffffff
    flex: 1
    margin: 20px 0
    text-align: center
    padding: 30px 0
    .title
      line-height: 37px
  .item+.item
    margin-left: 20px
  .numbox
    font-weight: 500
    color: #ffffff
    margin-top: 11px
    display: flex
    align-items: flex-start
    justify-content: center
    .num
      font-size: 40px
      line-height: 56px
    .icon
      font-size: 26px
      line-height: 37px
      position:relative
      top:7px

.list_item
  background: #FFFFFF;
  border-radius: 10px;
  padding: 22px 20px
  display: flex
  align-items: flex-start
  justify-content: space-between
  margin 0 20px 20px 20px
  &:last-child
    margin 0 20px
  
  .img
    width: 140px
    height: 140px
    background: #000000
    flex-shrink: 0
  .right
    margin-left: 20px
    display: flex
    flex-direction: column
    justify-content: space-between
    .head
      font-size: 30px
      line-height: 42px
    .bottom
      display: flex
      align-items: center
      justify-content: space-between
      font-size: 24px    
      color: rgba(0, 0, 0, 0.45)
      line-height: 33px
      margin-top: 30px
      .strong
        font-weight: 500
        color: #333333
      .blue_font
        color: #4F5AF7;


