.content
  padding: 21px 20px 
  .top
    display: flex
    align-items: center
    justify-content: space-between
    font-size: 26px
    font-weight: 400
    color: #000000
    .left
      color: rgba(0, 0, 0, 0.45)
    .right
      display: flex
      align-items: center
      justify-content: flex-end

.cardbox
  display: flex
  align-items: center
  justify-content: space-between
  font-weight: 400
  .item
    background: #FFFFFF
    box-shadow: 0px 2px 18px 0px rgba(235,236,249,1)
    border-radius: 12px
    font-size: 26px
    color: #969696
    flex: 1
    margin: 20px 0
    text-align: center
    padding: 30px 0
    .title
      line-height: 37px
  .item+.item
    margin-left: 20px
  .numbox
    font-weight: 500
    color: #000000
    margin-top: 11px
    display: flex
    align-items: flex-start
    justify-content: center
    .num
      font-size: 40px
      line-height: 56px
    .icon
      font-size: 26px
      line-height: 37px
      position:relative
      top:7px

.list-item
  background: #FFFFFF;
  border-radius: 10px;
  padding: 22px 20px
  display: flex
  align-items: flex-start
  justify-content: space-between
  .img
    width: 140px
    height: 140px
    background: #000000
    flex-shrink: 0
  .right
    margin-left: 20px
    display: flex
    flex-direction: column
    justify-content: space-between
    .head
      font-size: 30px
      line-height: 42px
    .bottom
      display: flex
      align-items: center
      justify-content: space-between
      font-size: 24px    
      color: rgba(0, 0, 0, 0.45)
      line-height: 33px
      margin-top: 30px
      .strong
        font-weight: 500
        color: #333333
      .blue-font
        color: #4F5AF7;


