.searchInputWrapper
	padding 20px 20px 0 20px
.searchInput
	border-radius 90px
	width 66.667vw
	background-color #f8f8f8
	flex-grow 1
	.searchIconColor
		color #ccc
		margin 0 20px
	.at-input
		margin-left 0
		margin-bottom 0
		background-color #f8f8f8
		height 60px
		line-height 60px
		vertical-align middle
		padding 10px 0
		display inline-block
		width 77%
.searchButton
	margin-left 40px
	font-size 30px
	font-weight 400
	color rgba(0, 0, 0, 0.85)



