.searchInputWrapper
	padding 20px 20px 0 20px
.searchInput
	border-radius 90px
	width 67vw
	background-color #f8f8f8
	flex-grow 1
	padding 2px 0
	.searchIconColor
		color #ccc
		margin 0 20px
	input
		margin-left 0
		margin-bottom 0
		background-color #f8f8f8
		height 60px
		line-height 60px
		vertical-align middle
		padding 10px 0
		display inline-block
		width 77%
	.clearButton
		border 15px solid transparent
.borderColor
		border 1px solid #4f5af7
.searchButton
	margin-left 35px
	font-size 30px
	font-weight 400
	color rgba(0, 0, 0, 0.85)



