.settle_page_box
  width 100%
  height 100%
  background-color #FFFFFF
  overflow-x hidden
  overflow-y auto
  box-sizing border-box
  padding 30px
  .banner
    width 100%
    border-radius 20px
  .divide
    with 100%
    height 2px
    background-color #E8E8E8
    margin 30px 0
  .title
    height 42px
    font-size 30px
    font-family PingFangSC-Medium, PingFang SC
    font-weight 500
    color #333333
    line-height 42px
  .mobile_box
    width 100%
    background #FBFBFB
    border-radius 20px
    padding 20px 20px 43px 20px
    box-sizing border-box
    font-size 28px
    color rgba(0, 0, 0, 0.65)
    line-height 40px
    margin-top 30px
    .item
      margin-bottom 19px
      color #333333
    .mobile
      margin-top 12px
      &:before
        content ''
        width 22px
        height 25px
        margin-right 8px
        display inline-block
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAyCAMAAAAQhsnYAAAAkFBMVEUAAABSU/h0dP9RUvhSUvhSVPhVVvxdXf9SU/hRUvhSUvhSUvdSU/hVVflgYP9RU/hRUvdSU/hRUvdSUvhSUvhSUvdTU/hRUvdRU/hSUvhSU/lRUvlSU/lTVPlSVPhUVPtTVfpTVvpSUvdRU/hRU/dSUvlSVPhSXP9ZWf9bW/9eXv9SU/hRU/dSUvhRU/hRUvcBFQhrAAAAL3RSTlMA+wT30kIeB/O7sKdhJQzv6eHFq5SFZ8nBt39aU09KOzQu59mHd24ZFxECzaCYjd9zih8AAAFHSURBVEjHldZpc4IwEIDhDeGI3MilAi1atdYe+f//rtOWdkKWbMr7+ZkdhmUdYcqLCn6KPPhHD6786S2w0WQj/wod2nZMKh1IG8+sZCNh00zO21CDpR7xSvYIl2bsIsxSI87liufgGHdGXKyZvEU2Ny8x0i0bwNhBs7wHc4/a/hIgcjJ17AB0oYKfCIc/jpsFp0LBF7D0ruA8teAjcSj0ErlvwQNxKJbv40pAtEWOdkjdVutYXghT9QfQnaVaT+PAVbE40npkqi6eaV1LNfeFfpDXmW4nHXhx72Pt5/PZX8SvxPdWR7waNtNZ45/57xHXd1030lwY6Loi9EbXTkToEnRdEvqyRjMf6dCsK0C6Qoj6VWmYAQtYyMuW8RaWSnaLuIHF7leO7d5RhGV4FFD/FFqVnjoENL5jExV1CtZucegWwq2nK/sELBKYgJ5a2y8AAAAASUVORK5CYII=') 0 0/100% 100% no-repeat
    .phoneNumber
      margin-left 12px
      color #464AEF