.withdraw_page_box
  width 100%
  min-height 100%
  box-sizing border-box
  background-color #F8F8F8
  padding 30px
  font-family PingFangSC-Regular, PingFang SC
  .card_box
    width 100%
    height 435px
    border-radius 12px
    overflow hidden
    background-color #FFFFFF
  .card_head
    width 100%
    height 144px
    background linear-gradient(135deg, #372AFE 0%, #4537FC 100%)
    border-radius 12px 12px 0px 0px
    box-sizing border-box
    padding 31px 24px
    color #FFFFFF
    font-size 28px
    display flex
    .card_info
      margin-left 89px
      .card_num
        font-family PingFangSC-Medium, PingFang SC
        font-weight 500
      .time
        font-size 26px
        margin-top 5px


  .card-body
    box-sizing border-box
    padding 24px
    .amount_label
      font-size 28px
      line-height 40px
      margin-top 4px
    .amount
      font-size 48px
      height 67px
      margin 25px 0
      padding 25px 0
      border-bottom 1px solid #E8E8E8
    .amountInput
      font-size 48px
      height 50px
      line-height 50px
      margin-left 12px
    .amount_limit
      font-size 22px
      color rgba(0, 0, 0, 0.45)
      line-height 30px
      .all_withdraw
        color #4F5AF7
        margin-left 10px
  .withdraw_button
    width 100%
    margin 50px auto 25px auto
    height 86px
    line-height 86px
    background #FFFFFF
    box-shadow 0px 2px 8px 0px #E5E5E5
    border 0 none
  .remind_box
    width 100%
    font-size 22px
    color rgba(0, 0, 0, 0.45)
    line-height 30px
    .title
      color rgba(208, 51, 51, 0.85)
      margin-bottom 10px
  