.withdraw_page_box
  .top_box
    width 100%
    height 390px
    background-color #4D66FF
    background-image url('../../assets/images/bg.png')
    background-position 0 100%
    background-size 100% 100%
    background-repeat no-repeat
    color #FFFFFF
    box-sizing border-box
    padding-top 16px
    .can_text
      font-size 30px
      line-height 42px
      margin-bottom 4px
    .amount_txt
      font-size 66px
      line-height 77px
      font-weight bold
      margin-bottom 12px
      font-family DINAlternate-Bold, DINAlternate
    .froze_txt
      font-size 28px
      line-height 40px
      &:before
        content ''
        display block
        width 28px
        height 28px
        margin-right 8px
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAM1BMVEX///8AAAD///////////////////////////////////////////////////////////+Q8lQ3AAAAEXRSTlPZALjPbMipokY1KhyDrZtABSnVuJcAAACbSURBVCjPfdNZDoMwDARQL4GsLPc/bd1WqXEqe/6ipxCCB8CZljIxU04NZyYWgl+oGOw7mOxdsW6wZKsTK8NfuH6x674xdG//4OO8+36c+8YCGllriiB5SAgNPBRKLgplF4XIRSH2kUMMHxu+kL3KddmrNPAihOQZ2Q/PKbGuih3ZQBw6smXYJ+Kpw15rchxak7hgcTXjUoe/wwtSRgN3lnVtYgAAAABJRU5ErkJggg==')
        background-repeat no-repeat
        background-size 100% 100%
        background-position 0 0