.withdraw_page_box
  .top_box
    width 100%
    height 390px
    background-color #4D66FF
    background-image url('../../assets/images/bg.png')
    background-position 0 100%
    background-size 100% 100%
    background-repeat no-repeat
    color #FFFFFF
    box-sizing border-box
    padding-top 16px
    .can_text
      font-size 30px
      line-height 42px
      margin-bottom 4px
    .amount_txt
      font-size 66px
      line-height 77px
      font-weight bold
      margin-bottom 12px
      font-family DINAlternate-Bold, DINAlternate
    .froze_txt
      font-size 28px
      line-height 40px
