.modal_component_box 
  .at-modal__container
    overflow visible
  .at-modal__header 
    font-size 36px
    font-family PingFangSC-Medium, PingFang SC
    font-weight 500
    color #333333
    line-height 50px
    padding 40px 24px 0 40px
    box-sizing border-box
    &:after
      display none
  .at-modal__content
    min-height 80px
    text-align center
    display flex
    justify-content center
    align-items center
    font-size 30px
    font-family PingFangSC-Regular, PingFang SC
    font-weight 400
    color #666666
    line-height 42px
    padding 36px 40px 46px 40px
  .warning_title
    width 104px
    height 102px
    display block
    margin -51px auto 0 auto


