.head_box
  // height 70px
  background-color #FF0000
  color #ffffff
  font-size 30px
  text-align center
  width 100%
  // padding 50px 30px 30px 30px
  // box-sizing border-box
  position fixed
  top 0  
  // .back_button
  //   position absolute
  //   left 0
  //   bottom 2px
  //   text-index 25px
  //   box-sizing border-box
  //   padding 28px 30px
  //   &:before
  //     content ''
  //     width 18px
  //     height 18px
  //     border-left 4px solid #ffffff
  //     border-top 4px solid #ffffff
  //     display inline-block
  //     transform rotate(-45deg)