.head_box
  height 128px
  background-color #4D66FF
  color #ffffff
  font-size 30px
  text-align center
  padding 60px 30px 30px 30px
  box-sizing border-box
  position relative
  .back_button
    position absolute
    left 0
    bottom 0
    text-index 25px
    box-sizing border-box
    padding 30px 
    &:before
      content ''
      width 18px
      height 18px
      border-left 3px solid #ffffff
      border-top 3px solid #ffffff
      display inline-block
      transform rotate(-45deg)