.recordPage_box
  width 100%
  height 100%
  background-color #ff0000
  .at-tabs__item-underline
    height 2px
    bottom 6px
  .at-tabs__item--active 
    .at-tabs__item-underline
      transform scaleX(0.4)
  .at-tabs__item,.at-tabs__item--active  
    color #474245
    font-weight 400
  .at-tabs__item--active 
    font-weight 500