.mnNav_box{
    display:flex;
    flex-direction:row;
    align-items:center;
    height: 90rpx;
    .midPart{
        flex:1;
        display:flex;
        flex-direction:row;
        align-items:center;
        padding-left: 203rpx;
    }
    .fos{
        font-size: 36rpx;
    }
    .leftPart{
        display:flex;
        flex-direction:row;
        align-items:center;
        min-width: 120rpx;
        .routeImg{
            margin-left: 10px;
            margin-right: 10px;
            display:block;
            width:35px;
            height: 35px;
        }
    }
}