.status_box
  width 100%
  padding 42px
  box-sizing border-box
  // background-color #FFFFFF
  .icon
    width 160px
    height 160px
    margin-bottom 30px
  .emptyIcon
    width 324px
    height 220px
    margin-bottom 30px
  .mainInfo
    font-size 34px
    line-height 42px
    margin-bottom 30px
  .moreInfo
    font-size 28px
    color #888888
    line-height 34px