.withdraw_page_box
  .top_box
    width 100%
    min-height 390px
    background-color #4D66FF
    background-image url('../../assets/images/bg.png')
    background-position 0 100%
    background-size 100% 100%
    background-repeat no-repeat
    color #FFFFFF
    box-sizing border-box
    padding 16px 16px 60px 16px
    .can_text
      font-size 30px
      line-height 42px
      margin-bottom 4px
    .amount_txt
      font-size 66px
      line-height 77px
      font-weight bold
      margin-bottom 12px
      font-family DINAlternate-Bold, DINAlternate
    .froze_txt
      font-size 28px
      line-height 40px
      &:before
        content ''
        display block
        width 28px
        height 28px
        margin-right 8px
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAM1BMVEX///8AAAD///////////////////////////////////////////////////////////+Q8lQ3AAAAEXRSTlPZALjPbMipokY1KhyDrZtABSnVuJcAAACbSURBVCjPfdNZDoMwDARQL4GsLPc/bd1WqXEqe/6ipxCCB8CZljIxU04NZyYWgl+oGOw7mOxdsW6wZKsTK8NfuH6x674xdG//4OO8+36c+8YCGllriiB5SAgNPBRKLgplF4XIRSH2kUMMHxu+kL3KddmrNPAihOQZ2Q/PKbGuih3ZQBw6smXYJ+Kpw15rchxak7hgcTXjUoe/wwtSRgN3lnVtYgAAAABJRU5ErkJggg==')
        background-repeat no-repeat
        background-size 100% 100%
        background-position 0 0
  .button_box
    width 92%
    margin 40px auto
    .widthdraw_button
      height 86px
      line-height 86px
      background #FFFFFF
      box-shadow 0px 2px 8px 0px #E5E5E5
      border 0 none
      font-size 30px
      width 100%
      &:not(:first-child)
        margin-left 30px
  .at-modal__content
    padding 32px
    min-height 140px
    text-align center
  .record_button
    width 125px
    height 125px
    line-height 125px
    text-align center
    border-radius 125px
    background linear-gradient(90deg, #FFC712 0%, #FDB40C 100%)
    box-shadow 0px 2px 10px 0px #E4D9B9
    font-size 30px
    font-family PingFangSC-Medium, PingFang SC
    font-weight 500
    color #FFFFFF
    position fixed
    bottom 13%
    right 4%

