@import './assets/css/common.styl'

page
  background-color #F1F2F6
  height 100%
  width 100%
  overflow hidden
  color #333333
  font-family PingFangSC-Regular, PingFang SC
.app_container
  height 100%
  width 100%
.flex_center_center_column
  flex(center, center, column)

.flex_center_center_row
  flex(center, center, row)

.flex_center_between_row
  flex(center, space-between, row)

.flex_center_between__column
  flex(left, space-between, column)
.flex_center_start_row
  flex(center, flex-start, row)

.cardWrapper
  border-radius 12px
  background-color #fff
  margin 20px 0
  