.content
  width 100%
  height 100%
  box-sizing border-box
  .mes
    background: #FFF9E7
    padding: 12px 0
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    font-size: 24px
    color: #474245
    line-height: 33px
    .vol
      color: #FEB90E
      font-size: 34px
      margin-right: 5px
  
  .item
    // margin-top: 20px
    padding: 20px 20px 0 20px
    .head
      font-size: 26px
      color: #000000
      line-height: 37px
    .info
      background: #ffffff
      border-radius: 12px
      margin-top: 20px
      display: flex
      align-items: center
      justify-content: space-between
      padding: 20px
      .left
        font-size: 30px
        line-height: 50px
        color: #000000
      .right
        display: flex
        align-items: center
        justify-content: flex-end
        font-size: 26px 
        color: rgba(0, 0, 0, 0.45);
        .num
          font-size: 30px
          color: #4F5AF7
          margin-left: 12px
          width: 100px
          text-align: center
        .icon
          font-size: 36px
